name = "cdnjs-api-worker"
main = "src/index.js"
compatibility_date = "2022-10-31"
compatibility_flags = [ "nodejs_als" ]
account_id = "dbf163e9a5fda1c8a0eceeed9ec12c18"
kv_namespaces = [
    { binding = "CACHE" }
]

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = false

[observability.traces]
enabled = true
head_sampling_rate = 1

[vars]
DISABLE_LOGGING = false
DISABLE_CACHING = false
METADATA_BASE = ""
SENTRY_DSN = ""
SENTRY_RELEASE = ""
SENTRY_ENVIRONMENT = "development"

[env.staging]
kv_namespaces = [
    { binding = "CACHE", id = "01c2862d489743a1b87c4ce338279392" }
]

[env.staging.observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = false

[env.staging.observability.traces]
enabled = true
head_sampling_rate = 1

[env.staging.vars]
DISABLE_LOGGING = true
DISABLE_CACHING = false
METADATA_BASE = ""
SENTRY_DSN = "" # Will be injected by build pipeline
SENTRY_RELEASE = "" # Will be injected by build pipeline
SENTRY_ENVIRONMENT = "staging"

[env.production]
kv_namespaces = [
    { binding = "CACHE", id = "6a1fda0afa5a4b73af5302f40b34752c" }
]

[env.production.observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = false

[env.production.observability.traces]
enabled = true
head_sampling_rate = 0.05

[env.production.vars]
DISABLE_LOGGING = true
DISABLE_CACHING = false
METADATA_BASE = ""
SENTRY_DSN = "" # Will be injected by build pipeline
SENTRY_RELEASE = "" # Will be injected by build pipeline
SENTRY_ENVIRONMENT = "production"
