name = "cdnjs-api-worker"
main = "src/index.js"
compatibility_date = "2022-10-31"
compatibility_flags = [ "nodejs_als" ]
kv_namespaces = [
    { binding = "CACHE", id = "845ae1599dcf4d75950b61201a951b73", preview_id = "845ae1599dcf4d75950b61201a951b73" }
]

[observability.logs]
enabled = true
head_sampling_rate = 1

[observability.traces]
enabled = true
head_sampling_rate = 1

[vars]
DISABLE_LOGGING = false
DISABLE_CACHING = false
METADATA_BASE = ""
SENTRY_DSN = ""
SENTRY_RELEASE = ""
SENTRY_ENVIRONMENT = "development"

[env.staging]
route = { pattern = "api.cdnjs.dev/*", zone_name = "cdnjs.dev" }
kv_namespaces = [
    { binding = "CACHE", id = "34b159dab6f840ce9c17e4d0730ead12" }
]

[env.staging.vars]
DISABLE_LOGGING = false
DISABLE_CACHING = false
METADATA_BASE = ""
SENTRY_DSN = "" # Will be injected by build pipeline
SENTRY_RELEASE = "" # Will be injected by build pipeline
SENTRY_ENVIRONMENT = "staging"

[env.production]
route = { pattern = "api.cdnjs.com/*", zone_name = "cdnjs.com" }
kv_namespaces = [
    { binding = "CACHE", id = "c2922fcf1af643658d6769859b913134" }
]

[env.production.observability.logs]
enabled = true
head_sampling_rate = 0.05

[env.production.observability.traces]
enabled = true
head_sampling_rate = 0.05

[env.production.vars]
DISABLE_LOGGING = false
DISABLE_CACHING = false
METADATA_BASE = ""
SENTRY_DSN = "" # Will be injected by build pipeline
SENTRY_RELEASE = "" # Will be injected by build pipeline
SENTRY_ENVIRONMENT = "production"
